<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>Manufacturers</servlet-name>
    <servlet-class>com.kurotkin.manufacturer_data.controller.Manufacturers.ManufacturersPage</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Products</servlet-name>
    <servlet-class>com.kurotkin.manufacturer_data.controller.Products.ProductsPage</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ManufacturerAddNew</servlet-name>
    <servlet-class>com.kurotkin.manufacturer_data.controller.Manufacturers.ManufacturerAddNew</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ManufacturerDelete</servlet-name>
    <servlet-class>com.kurotkin.manufacturer_data.controller.Manufacturers.ManufacturerDelete</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ManufacturerRename</servlet-name>
    <servlet-class>com.kurotkin.manufacturer_data.controller.Manufacturers.ManufacturerRename</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ProductsAddNew</servlet-name>
    <servlet-class>com.kurotkin.manufacturer_data.controller.Products.ProductsAddNew</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ProductsDelete</servlet-name>
    <servlet-class>com.kurotkin.manufacturer_data.controller.Products.ProductsDelete</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ProductsRename</servlet-name>
    <servlet-class>com.kurotkin.manufacturer_data.controller.Products.ProductsRename</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>Products</servlet-name>
    <url-pattern>/products</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Manufacturers</servlet-name>
    <url-pattern>/manufacturers</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ManufacturerAddNew</servlet-name>
    <url-pattern>/ManufacturerAddNew</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ManufacturerDelete</servlet-name>
    <url-pattern>/ManufacturerDelete</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ManufacturerRename</servlet-name>
    <url-pattern>/ManufacturerRename</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ProductsAddNew</servlet-name>
    <url-pattern>/ProductsAddNew</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ProductsDelete</servlet-name>
    <url-pattern>/ProductsDelete</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ProductsRename</servlet-name>
    <url-pattern>/ProductsRename</url-pattern>
  </servlet-mapping>
</web-app>
